@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

html {
  width: 100%;
}

body {
  background: #EFFAFC;
  border-radius: 10px;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.login {
  width: 400px;
  height: 250px;
  border: 2px solid lightblue;
  position: fixed;
  left: 30px;
}

.prompt {
  font-size: 20px;
}

#rowheader {
  background: #049372;
  color: white;
}

#rowheader a {
  color: black;
}

#imgcontainer {
  min-height: 120px;
  min-width: 120px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding-left: 0;
  padding-right: 0;
}

#restofheader {
  height: 120px;
  vertical-align: middle;
  padding-top: 15px;
}

#headerimg {
  max-width: 100%;
  left: 0;
  display: block;
}

#headertext {
  height: 90px;
}

#headertext h4 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#headerlinks {
  height: 70px;
  font-size: 18px;
  line-height: 30px;
  border-left: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

#headerlink {
  text-align: center;
  height: 100%;
  border-right: 1px solid black;
}

#loginpending {
  display: inline;
  padding-top: 20px;
  vertical-align: top;
}

#loggedin {
  display: none;
  padding-top: 20px;
  vertical-align: top;
}
