@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

html {
  width: 100%;
}

body {
  background: #EFFAFC;
  border-radius: 10px;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.login {
  width: 400px;
  height: 250px;
  border: 2px solid lightblue;
  position: fixed;
  left: 30px;
}

.prompt {
  font-size: 20px;
}

#rowheader {
  background: #049372;
  color: white;
  padding-bottom: 20px;
}

#rowheader a {
  color: black;
}

#imgcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#headerimg {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin-top: 20px;
}

#headertext h3 {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

#headerlinks {
  font-size: 20px;
  line-height: 30px;
  border-left: 1px solid black;
  vertical-align: middle;
  padding: 20px;
}

#headerlink {
  border-right: 1px solid black;
}

#loginpending {
  display: inline;
  padding-top: 20px;
  vertical-align: top;
}

#loggedin {
  display: none;
  padding-top: 20px;
  vertical-align: top;
}
