@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

html {
  width: 100%;
  background-color: #f2f2f2;
}

body {
  background: transparent;
  border-radius: 10px;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

h3 {
  text-align: left;
  padding-bottom: 0px;
}

#signin {
  min-width: 100%;
}

#form {
  min-width: 100%;
}

.logo {
    text-align: center;
    padding-top: 25px;
}

.logo img {
  box-shadow: 5px -1px 100px #888888;
  display: inline-block;
  border: none;
  margin: 0 auto;
}

.login {
  width: 400px;
  height: 380px;
  padding: 20px;
  border: 2px solid lightblue;
  position: fixed;
  left: 30px;
}

.register {
  width: 400px;
  height: 260px;
  padding: 20px;
  border: 2px solid lightblue;
  position: fixed;
  left: 30px;
}

.prompt {
  font-size: 25px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginbar {
  text-align: center;
  font-size: 40px;
}

.logininvalid {
  color: red;
}

.form-control {
  display: block;
  width: 100%;
  min-width: 250px;
  height: 60px;
  padding: 6px 12px;
  font-size: 40px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #000;
  border-radius: 1px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  margin: auto;
}

.signin {
  width: 100%;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: ">>";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

#rowheader {
  background: #049372;
  color: white;
}

#rowheader a {
  color: black;
}

#imgcontainer {
  height: 100px;
  min-width: 100px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding-left: 0;
  padding-right: 0;
}

#restofheader {
  height: 120px;
  vertical-align: middle;
  padding-top: 15px;
}

#headerimg {
  max-width: 110px;
  left: 0;
  display: block;
}

#headertext {
  height: 90px;
}

#collaplog {
  align-items: middle;
}

#headertext h4 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#headerlinks {
  height: 70px;
  font-size: 18px;
  line-height: 30px;
  border-left: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
}

#headerlink {
  text-align: center;
  height: 100%;
  border-right: 1px solid black;
}

#loginpending {
  display: inline;
  padding-top: 20px;
  vertical-align: top;
}

#loggedin {
  display: none;
  padding-top: 20px;
  vertical-align: top;
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  padding: 10px 16px;
  margin: auto;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 3px;
}

.btn-primary {
  color: #fff;
  background-color: #049372;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #049372;
  border-color: #285e8e;
}

/***********************
  RAISED BUTTONS
************************/
.btn-primary.raised {
  box-shadow: 0 3px 0 0 #02664f;
}
.btn-primary.raised:active, .btn-primary.raised.active {
  background: #049372;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #049372;
  color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #049372;
}
.btn-primary:active, .btn-primary.active {
  background: #049372;
  box-shadow: none;
}
