@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300); 
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#myform {
    text-align: center;
    padding: 5px;
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}

body {
  margin: 0;
  font-family: "Source Sans Pro";
  background-color: #f2f2f2;
  transition: background-color .5s;
}

#menuinput {
  height: 30px;
  width: 50%;
}

ul.header {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #049372;
 /* box-shadow: 10px 10px 10px 10px #888888; */
}

ul.header li {
  color: white;
  text-decoration: none;
  font-family: "Source Sans Pro";
  background: #049372;
}

#headerbtn {
 background-color: #07795f; 
}

#searchorder {
  text-align: center;
}

@media all and (max-width: 652px) {
  #headerbtn {
    display: none;
  }
  li.titlename {
    display: none;
  }
  li.headername {
    font-size: 22px;
  	float: right;
    vertical-align: middle;
    padding-top: 6px;
  }
  .tcon-menu--arrow.zero-transformicon, .tcon-menu--arrowleft.zero-transformicon {
    padding-left: 0px;
  }
  #quickorder {
    display: block;
  }
}
 
@media all and (min-width: 652px) {
  .tcon-menu--arrow.zero-transformicon, .tcon-menu--arrowleft.zero-transformicon {
  height: 70px;
  }
  li.titlename {
  float: left;
  font-size: 48pt;
  }
  #quickorder {
    display: none;
  }
  .headername {
   padding-top: 3px; 
  }
}

.white {
  color: white;
  text-transform: none;
  background-color: #07795f;
}

.titlename {
  padding-top: 19px;
}

.material-icons {
  font-size: 19px;
}

#qckorder {
  text-align: right;
  padding: 0px;
}

.itemamount {
  padding-left: 10px;
  padding-right: 10px;
}


/* @812px make side bar overlap */
/* figure out how to */


.flatbutton {
  padding: 1px 10px;
  background-color: #07795f;
  font-size: 20px;
  text-transform: none;
  color: white;
} 

.flatbutton:hover {
  background-color: #0c886c;
}

#quickorder {
  left: 0;
  width: 100%;
  text-align: center;
}

#menuorder {
  right: 0;
  width: 100%;
  text-align: center;
}

li.headername {
  font-size: 22px;
  float: right;
  vertical-align: middle;
  padding-right: 8px;
}

.hamburger {
  float: left;
}

#schoolLinks {
  list-style: none;
  font-size: 16px;
  text-align: center;
}

.settingstitle {
  text-align: center;
}

/** This is a test. **/

zero-transformicon {
  display: inline-block; 
  position: relativetranslateZ 0; padding-left: 0;
}

.hidden.zero-transformicon {
  display: none !important;visibility: hidden;
}

.mail-force-align.zero-transformicon {
  margin-top: 10px;
}

.tcon.zero-transformicon {
  -webkit-appearance: none;-moz-appearance: none;appearance: none;border: none;cursor: pointer;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;transition: 0.3s;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;width: 40px;background: transparent;outline: none;-webkit-tap-highlight-color: transparent;-webkit-tap-highlight-color: transparent;
}

.tcon.zero-transformicon > *.zero-transformicon {
  display: block;
}

.tcon.zero-transformicon:hover,.tcon.zero-transformicon:focus {
  outline: none;
}

.tcon.zero-transformicon::-moz-focus-inner {
  border: 0;
}

.tcon-menu__lines.zero-transformicon {
  display: inline-block;height: 5.71429px;width: 40px;border-radius: 2.85714px;transition: 0.3s;position: relative;
}

.tcon-menu__lines.zero-transformicon::before,.tcon-menu__lines.zero-transformicon::after {
  display: inline-block;height: 5.71429px;width: 40px;border-radius: 2.85714px;transition: 0.3s;content: '';position: absolute;left: 0;-webkit-transform-origin: 2.85714px center;transform-origin: 2.85714px center;width: 100%;
}

.tcon-menu__lines.zero-transformicon::before {
  top: 10px;
}

.tcon-menu__lines.zero-transformicon::after {
  top: -10px;
}

.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);transform: scale3d(0.8, 0.8, 0.8);
}

.tcon-menu--xbutterfly.zero-transformicon {
  width: auto;
}

.tcon-menu--xbutterfly.zero-transformicon .tcon-menu__lines.zero-transformicon::before,.tcon-menu--xbutterfly.zero-transformicon .tcon-menu__lines.zero-transformicon::after {
  -webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease;transition: top 0.3s 0.6s ease, transform 0.3s ease;
}

.tcon-menu--xbutterfly.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon {
  background: transparent;
}

.tcon-menu--xbutterfly.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon::before,.tcon-menu--xbutterfly.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon::after {
  top: 0;transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease;transition: top 0.3s ease, transform 0.3s 0.5s ease;width: 40px;
}

.tcon-menu--xbutterfly.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);transform: rotate3d(0, 0, 1, 45deg);
}

.tcon-menu--xbutterfly.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);transform: rotate3d(0, 0, 1, -45deg);
}

.tcon-visuallyhidden.zero-transformicon {
  border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;
}

.tcon-visuallyhidden.zero-transformicon:active,.tcon-visuallyhidden.zero-transformicon:focus {
  clip: auto;height: auto;margin: 0;overflow: visible;position: static;width: auto;
}

.tcon-menu--minus.zero-transformicon {
  width: auto;
}

.tcon-menu--minus.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon::before,.tcon-menu--minus.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon::after {
  -webkit-transform: none;transform: none;top: 0;width: 40px;
}

.tcon-menu--xcross.zero-transformicon {
  width: auto;
}

.tcon-menu--xcross.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon {
  background: transparent;
}

.tcon-menu--xcross.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon::before,.tcon-menu--xcross.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon::after {
  -webkit-transform-origin: 50% 50%;transform-origin: 50% 50%;top: 0;width: 40px;
}

.tcon-menu--xcross.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);transform: rotate3d(0, 0, 1, 45deg);
}

.tcon-menu--xcross.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);transform: rotate3d(0, 0, 1, -45deg);
}

.tcon-menu--arrow.zero-transformicon, .tcon-menu--arrowleft.zero-transformicon {
  width: auto;
  padding-left: 11px;
}

.tcon-menu--arrow.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon::before,.tcon-transform.tcon-menu--arrowleft.zero-transformicon .tcon-menu__lines.zero-transformicon::before,.tcon-menu--arrow.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon::after, .tcon-transform.tcon-menu--arrowleft.zero-transformicon .tcon-menu__lines.zero-transformicon::after {
  top: 0;width: 22.22222px;
}

.tcon-menu--arrow.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon::before, .tcon-transform.tcon-menu--arrowleft.zero-transformicon .tcon-menu__lines.zero-transformicon::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);transform: rotate3d(0, 0, 1, 45deg);
}

.tcon-menu--arrow.tcon-transform.zero-transformicon .tcon-menu__lines.zero-transformicon::after, .tcon-transform.tcon-menu--arrowleft.zero-transformicon .tcon-menu__lines.zero-transformicon::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);transform: rotate3d(0, 0, 1, -45deg);
}

.tcon-menu--arrowup.zero-transformicon {
  width: auto;
}

.tcon-menu--arrowup.tcon-transform.zero-transformicon {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
}

.tcon-menu--arrow360left.tcon-transform.zero-transformicon {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 360deg);transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 360deg);
}

.tcon-grid.zero-transformicon {
  padding: 1rem;
}

.tcon-grid.zero-transformicon .tcon-grid__item.zero-transformicon {
  width: 0.5rem;height: 0.5rem;transition: 0.3s;
}

.tcon-grid.tcon-transform.zero-transformicon .tcon-grid__item.zero-transformicon {
  -webkit-transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8);transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8);
}

.tcon-grid--collapse.zero-transformicon .tcon-grid__item.zero-transformicon {
  box-shadow: -0.625rem 0, -0.625rem 0.625rem, 0.625rem 0, 0.625rem -0.625rem, 0 -0.625rem, -0.625rem -0.625rem, 0 0.625rem, 0.625rem 0.625rem;
}

.tcon-grid--collapse.tcon-transform.zero-transformicon .tcon-grid__item.zero-transformicon {
  box-shadow: -0.5rem 0, 0 0 transparent, 0.5rem 0, 0 0 transparent, 0 -0.5rem, 0 0 transparent, 0 0.5rem, 0 0 transparent;
}

.tcon-grid--rearrange.zero-transformicon .tcon-grid__item.zero-transformicon {
  box-shadow: -0.625rem -0.625rem, 0 -0.625rem, 0.625rem -0.625rem, -0.625rem 0, 0.625rem 0, -0.625rem 0.625rem, 0 0.625rem, 0.625rem 0.625rem;
}

.tcon-grid--rearrange.tcon-transform.zero-transformicon .tcon-grid__item.zero-transformicon {
  box-shadow: 0 -0.5rem, 0 -1rem, 0.5rem 0, -1rem 0, 1rem 0, -0.5rem 0, 0 1rem, 0 0.5rem;
}

.tcon-plus.zero-transformicon {
  height: 40px;position: relative;-webkit-transform: scale(0.75);transform: scale(0.75);width: 40px;
}

.tcon-plus.zero-transformicon::before,.tcon-plus.zero-transformicon::after {
  content: "";border-radius: 2px;display: block;width: 85%;height: 25%;position: absolute;top: 37%;left: 8%;transition: 0.3s;
}

.tcon-plus.zero-transformicon:after {
  -webkit-transform: rotate(90deg);transform: rotate(90deg);
}

.tcon-plus--check.tcon-transform.zero-transformicon::before {
  -webkit-transform: rotate(-135deg) translate(5%, -10%);transform: rotate(-135deg) translate(5%, -10%);top: 50%;width: 55%;
}

.tcon-plus--check.tcon-transform.zero-transformicon::after {
  -webkit-transform: rotate(-45deg) translate(20%, 10%);transform: rotate(-45deg) translate(20%, 10%);top: 50%;width: 85%;
}

.tcon-plus--minus.tcon-transform.zero-transformicon::before {
  -webkit-transform: rotate(180deg) translate(0, 0);transform: rotate(180deg) translate(0, 0);width: 62%;
}

.tcon-plus--minus.tcon-transform.zero-transformicon::after {
  -webkit-transform: rotate(-180deg) translate(-37.5%, 0);transform: rotate(-180deg) translate(-37.5%, 0);width: 62%;
}

.tcon-remove.zero-transformicon {
  height: 40px;position: relative;-webkit-transform: scale(0.75);transform: scale(0.75);width: 40px;
}

.tcon-remove.zero-transformicon::before,.tcon-remove.zero-transformicon::after {
  content: "";display: block;border-radius: 2px;width: 85%;height: 25%;position: absolute;top: 37%;left: 8%;transition: 0.3s;
}

.tcon-remove.zero-transformicon::before {
  -webkit-transform: rotate(45deg);transform: rotate(45deg);
}

.tcon-remove.zero-transformicon::after {
  -webkit-transform: rotate(-45deg);transform: rotate(-45deg);
}

.tcon-remove--check.tcon-transform.zero-transformicon::before {
  -webkit-transform: rotate(-135deg) translate(5%, -10%);transform: rotate(-135deg) translate(5%, -10%);top: 50%;width: 55%;
}

.tcon-remove--check.tcon-transform.zero-transformicon::after {
  -webkit-transform: rotate(-45deg) translate(20%, 10%);transform: rotate(-45deg) translate(20%, 10%);top: 50%;width: 85%;
}

.tcon-remove--chevron-left.tcon-transform.zero-transformicon::before {
  left: 20%;-webkit-transform: translate(0, -55%) rotate(-45deg);transform: translate(0, -55%) rotate(-45deg);width: 62%;
}

.tcon-remove--chevron-left.tcon-transform.zero-transformicon::after {
  left: 20%;-webkit-transform: translate(0, 55%) rotate(45deg);transform: translate(0, 55%) rotate(45deg);width: 62%;
}
