{% extends "webapp/yournestheader.html" %}

{% block content %}

<div class="content">
  <img src="/static/webapp/img/logo.png" alt="logo" class="logoImgAbout" style="float:left;">
  <div class="webname">
    <h1 id="falcon">Falcon's</h1>
    <h2 id="nest">Nest</h2>
  </div> 
  <div style="border-left:1px solid #000;height:753px;margin-left:50%;">
    <div style="padding-left:10px;">
      <h1>Developed By:</h1>
      <h3>Craig Huang, Hanyuan Li, Gabriel Phua and Dylan Shadbolt</h3>
      <h3 style="font-weight:bold;">With additional help from:</h3>
      <h3>Samuel Lim, Edwin Lam and Trent Zheng</h3>
      <h1>Designed by:</h1>
      <h3>Dylan Shadbolt</h3>
      <h1>Original idea by:</h1>
      <h3>Hanyuan Li and Edwin Lam</h3>
      <h1>Thank you to:</h1>
      <h3>Chris the canteen guy.</h3>
      <h3><a href="terms.html">Terms and Conditions</a></h3>
    </div>  
  </div>
</div>
</div> 
</body>
</html>

{% endblock %}