{% extends "webapp/yournestheader.html" %}

{% block content %}

<body>
<style>
  .right {
    float: right;
  }
  #space {
    height: 10px;
  }
  button {
    top: auto;
  }
</style>
<div class=content>
  <div id="chris">
    {% for order in orderlist %}
      <form action="/delorder/" method="POST">{% csrf_token %}
        <input type = "hidden" name = "delorder" value = '{{ order.name }}' />
        <button class="right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary white" type="submit">Remove {{ order.name }}</button>
        <div id="space"></div>
      </form>
      <h3>{{ order.name }}: ${{ order.price }} Ordered: {{ order.value }}</h3>
    {% endfor %}

    <form action="/addorder/" method="POST">{% csrf_token %}
      <h3>Add an item to live ordering:</h3> 
      <input class="form-control" type="order" name="addorder" placeholder="Menu...">
      <input class="form-control" type="order" name="addorderprice" placeholder="Insert Price...">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary white" type="submit">Submit</button>
    </form>
     
    <form action="/addmenu/" method="POST">{% csrf_token %}
      <h3>Add an item to the menu:</h3> 
      <p>Unorderable food (e.g. Sushi) are fresh food that cannot be ordered.</p>
      <input class="form-control" type="order" name="menuadd" placeholder="Menu...">
      <input class="form-control" type="order" name="menuaddprice" placeholder="Menu...">
      <button data-toggle="collapse" data-target="#ordertypes">Display Options</button>
      <div class="collapse" id="ordertypes">
        <label class="ordertype mdl-radio mdl-js-radio mdl-js-ripple-effect" for="menutype-u" />
          <input type="radio" class="mdl-radio__button" id="menutype-u" name="menutype" value="u">
          <span class="mdl-radio__label">Unorderable</span>
        </label> <br>
        <label class="ordertype mdl-radio mdl-js-radio mdl-js-ripple-effect" for="menutype-s" />
          <input type="radio" class="mdl-radio__button" id="menutype-s" name="menutype" value="s">
          <span class="mdl-radio__label">Snacks</span>
        </label> <br>
        <label class="ordertype mdl-radio mdl-js-radio mdl-js-ripple-effect" for="menutype-d" />
          <input type="radio" class="mdl-radio__button" id="menutype-d" name="menutype" value="d">
          <span class="mdl-radio__label">Drinks</span>
        </label> <br>
        <label class="ordertype mdl-radio mdl-js-radio mdl-js-ripple-effect" for="menutype-t"/>
          <input type="radio" class="mdl-radio__button" id="menutype-t" name="menutype" value="t">
          <span class="mdl-radio__label">Desserts</span>
        </label> <br>
        <label class="ordertype mdl-radio mdl-js-radio mdl-js-ripple-effect" for="menutype-i" />
          <input type="radio" class="mdl-radio__button" id="menutype-i" name="menutype" value="i">
          <span class="mdl-radio__label">Icecreams & Iceblocks</span>
        </label> <br>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary white" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
</body>
</html> 

{% endblock %}