{% extends "webapp/header.html" %}

{% block content %}
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <div class="loginbar">
        <h1 style="font-weight:bold;">Hi {{ firsttimeuser }}! Welcome to Falcon's Nest, the easy way to order food!</h1>
    </div>
  </br>
    <div class="prompt">
        <font color="#F00" style="font-weight:bold;">{{ content }}</font>
        <form action="/authr/" method="POST">
            {% csrf_token %}
            {{ invalid }}
            <h2>Before you continue, you must change your password...</h2>
            <h3>Password:</h3> <input class="form-control" type="password" name="password">
            <h3>Confirm Password:</h3> <input class="form-control" type="password" name="confirm">
            <div id="button">
            </br>
                <button input type="submit" class="btn btn-primary btn-lg raised"><span>Submit</span></button>
                <br>
            </div>
            <br>
        </form>
    </div>
    <br>
    </body>
    </html>
{% endblock %}
