<DOCTYPE!html>
{% block content %}
<html>
<head>
  <title>Salty Dank Hanyuan</title>
  <div class="title" style="text-align:center; text-shadow:1px,1px 0 #000">
    <h1 style="color:lightblue; font-family:Comic Sans MS;">Hanyuan, you are so dank and salty.<h1>
    <h2 style="color:yellow; font-family:Comic Sans MS;">I mean, just look at your python game...</h2>
  </div>
</head>
<body background="http://orig12.deviantart.net/c49d/f/2015/163/9/0/mlg_m8_by_zombie_spartan-d8x3eir.jpg">
  <div class="logo" height="100px" width="100px" align="middle">
    {% load staticfiles %}

    <img src={% static 'webapp/img/hanyuan.jpeg'%} alt="logo">
    <img src={% static 'webapp/img/saltshaker.gif'%} alt="salt" align="right">
    <img src={% static 'webapp/img/saltshaker.gif'%} alt="salt" align="left">
  </div>
  <div align="middle">
    <img src={% static 'webapp/img/MLG_Frog.gif'%} alt="wtf">
    <img src="https://67.media.tumblr.com/9e89a024fb111911ec479c22caa460d3/tumblr_n0u2f24j911sww1ioo1_500.gif" alt="dorito" align="left">
    <img src="http://25.media.tumblr.com/1d8b927a67309bbbbeb3b5a3dc473a14/tumblr_mj3lu4SBxO1qfhw7ko1_400.gif" alt="shinyMountaindew" align="right">

  </div>
</body>
{% endblock %}
</html>
