<!DOCTYPE html>
<html lang="en">

<head>
  <title>Falcon's Nest</title>
	<meta charset="utf-8"/>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/project/custom.css' %}">
  <link rel="shortcut icon" href="{%  static 'webapp/img/favicon.ico' %}">
  <script type="text/javascript" src="{% static 'webapp/js/jquery-3.0.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'webapp/js/project/headerjs.js' %}"></script>
	<meta name="viewport" content ="width=device-width, initial-scale=1.0">
</head>
          {% block content %}
            {% endblock %}
    </div>
  </div>
</body>

</html>
