<!DOCTYPE html>
<html lang="en">

<head>
    <title>Falcon's Nest</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="/static/webapp/js/project/pageloader.js"></script>
    <meta charset="utf-8"/>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/project/custom.css' %}">
    <link rel="shortcut icon" href="{% static 'webapp/img/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/static/webapp/js/project/pageloader.js"></script>
</head>

<div class="logo" height="100px" width="100px">
    {% load staticfiles %}
    <a href="/" style="text-decoration: none;">
        <img src={% static 'webapp/img/logo.png' %} alt="logo" style="box-shadow: 5px 5px 15px #888888; max-width: 350px;" width="90%-5px">
        <img src={% static 'webapp/img/title.png' %} alt="title" style="padding-left:10px;padding-top:20px;display:inline;box-shadow: none; max-width:350px" width="90%">
    </a>
</div>

<body>
<div class="se-pre-con"></div>
<br>
<hr>
<p>

    {% block content %}
    {% endblock %}
    </div>
    </div>
</body>

</html>
