{% extends "webapp/header.html" %}

{% block content %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>


<body>

<div data-role="page" id="pageone">


  <div data-role="main" class="ui-content">
    <div data-role="collapsible">
      <h1>Sign In</h1>
      <p>  <center>
        <div class="login">
          <div class="loginbar">
            <h1>LOGIN</h1>s
          </div>
          <div class="prompt">
            <form action="/auth/" method="POST">
              {% csrf_token %}
              StudentID:<br> <input class="form-control" type="text" name="username"><br>
              Password:<br> <input class="form-control" type="password" name="password">
              <p></p>
              <font size=2px> Don't have an account? <a href="/register">Register here!</a> <p></p></font>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>
        </center></p>
    </div>
  </div>


</body>
</html>
{% endblock %}
