{% extends "webapp/header.html" %}

{% block content %}
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <div class="loginbar">
        <h1>LOGIN</h1>
    </div>
    <div class="loginformcontrol">
        <font color="#F00" style="font-weight:bold;">{{ content }}</font>
        <form action="/auth/" method="POST">
            {% csrf_token %}
            <h3>Student ID:</h3> <input class="form-control" type="text" name="username">
            <h3>Password:</h3> <input class="form-control" type="password" name="password">
            <br>
            <div id="button">
                <button input type="submit" class="btn btn-primary btn-lg raised">Submit</button>
            </div>
        </form>
    </div>
    <br>
    </body>
    </html>
{% endblock %}
 <!--    
 <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <div class="loginbar">
        <h1>REGISTER</h1>
    </div>
    <div class="prompt">
        <form action=/authr/ method="POST">
            {% csrf_token %}
            StudentID:<br> <input class="form-control" type="text" name="username"><br>
            Password:<br> <input class="form-control" type="password" name="password"><br>
            <div id="button">
                <button input type="submit" class="btn btn-primary btn-lg raised"><span>Submit</span></button>
                <br>
            </div>
        </form>
    </div>
    </div>
    </center>
    </body>
    </html>

<!--{% include "webapp/includes/snippiet.html" %}-->
-->