{% extends "webapp/header.html" %}

{% block content %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>




</style>

</head>

<body>


<div class="container">
  <button type="button" class="btn btn-primary btn-rg raised" data-toggle="collapse" data-target="#Signin">Sign In!</button>
  <div id="Signin" class="collapse">

      <div class="loginbar">
        <h1>LOGIN</h1>
      </div>
      <div class="prompt">
        <form action=forms.py method="POST">
          {% csrf_token %}
          StudentID:<br> <input class="form-control" type="text" name="username"><br>
          Password:<br> <input class="form-control" type="password" name="password">
          <p></p>
          <font size=2px> Don't have an account? <a href="/register">Register here!</a> <p></p></font>
          <input type="submit" value="Submit">
        </form>
      </div>

  </div>
</div>


</body>
</html>
{% endblock %}
