{% extends "webapp/header.html" %}

{% block content %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<br>
<div class="logo" height="100px" width="100px">
    {% load staticfiles %}
    <img src={% static 'webapp/img/logo.png'%} alt="logo">
    <img src="static/webapp/img/title.png" alt="title" style="box-shadow: none; padding-left: 20px; padding-top: 20px; ">
</div>

<body>
<br>
<hr>
<p>
      <div class="loginbar">
        <h1>LOGIN</h1>
      </div>
      <div class="prompt">
        <form action="/auth/" method="POST">
          {% csrf_token %}
          <h3>Student ID:</h3> <input class="form-control" type="text" name="username"><br>
          <h3>Password:</h3> <input class="form-control" type="password" name="password">
          <p></p><br>
          <div id="button">
          <button input type="submit" class="btn btn-primary btn-lg raised"><span>Submit</span></button>
          </div>
        </form>
          {{ content }}
      </div>
</body>
</html>
{% endblock %}
