<!DOCTYPE html>
{% extends "webapp/yournestheader.html" %}


{% block content %}
<body> 
  <div style="text-align:left;padding-left:75px;padding-right:75px;width:25%">
    <h1>Menu</h1>
    <h2>5 Dollar Meals</h2>
    <ul class="list-unstyled">
      <li>BLT Roll</li>
      <li>BLT Wrap</li>
      <li>Angus Beef Burger</li>
      <li>Chicken Burger</li>
      <li>Dragon Burger</li>
      <li>Chicken Schnitzel</li>
      
      <li><h2>Other Meals</h2></li>
      <li>Spaghetti ($6)</li>
      <li>Butter Chicken w/Rice ($5.50)</li>
      <li>Sushi ($3.50)</li>
      <li>Instant Noodles ($3.50)</li>
      <li>Bacon and Egg Roll ($4.20)</li>
      <li>Bacon Roll ($4)</li>
      
      <li><h2>Snacks</h2></li>
      <li>JJ Snacks ($1.20)</li>
      <li>Red Rock Chips ($2.50)</li>
      
      <li><h2>Drinks</h2></li>
      <li>Sparkling Mineral Water ($3)</li>
      <li>Orange Juice ($4)</li>
      <li></li>
      
      <li><h2>Sweets and Deserts</h2></li>
      <li>Custard Tart ($3)</li>
      <li>Doughnut ($2.80)</li>
      <li>Muffins ($4)</li>
      <li>Lamingtons ($2.50)</li>
      <li>Eucalyptis Drops ($2)</li>
      <li>Bag of Candy ($1)</li>
      <li>Lolipop ($0.50)</li>
      
      <li><h3>Ice Creams</h3></li>
      <li>Cyclone ($2)</li> 
      <li></li>
    </ul>
<!-- Once we get to the bottom of the page, make a new div-->
  </div>
  <div style="width:25%;float:;">
    <h2>Someting Test</h2>      
  </div>
</body>
</html>

{% endblock %}

<!--<p>BLT roll</p>
    <p>Beef Burger</p>
    <br>
    <h2>Icy Treats</h2>
    <p>Icy Twist ($1)</p>
    <p>Cyclone ($2)</p>
    
    
     with width 25%, this will make collumns.