<!DOCTYPE html>
{% extends "webapp/yournestheader.html" %}


{% block content %}
<body> 
  <div style="text-align:left;padding-left:75px;padding-right:75px;width:25%">
    <h1>Menu</h1>
    <h2>5 Dollar Meals</h2> 
    <ul class="list-unstyled">
      {% for order in orderlist %}
        <li>{{ order.name }}: ${{ order.price }}</li>
      {% endfor %}
      
      <li><h2>Other Meals</h2></li>
      {% for menu in unorderablelist %}
        <li>{{ menu.name }}: ${{ menu.price }}</li>
      {% endfor %}
  
      <li><h2>Snacks</h2></li>
      {% for a in snackslist %}
        <li>{{ a.name }} : ${{ a.price }}</li>
      {% endfor %}
      
      <li><h2>Drinks</h2></li>
      {% for drinks in drinkslist %}
        <li>{{ drinks.name }} : ${{ drinks.price }}</li>
      {% endfor %}
      <li></li>
      
      
      <li><h2>Sweets and Deserts</h2></li>
      {% for sweets in sweetslist %}
        <li>{{ sweets.name }} : ${{ sweets.price }}</li>
      {% endfor %}
      
      <li><h3>Ice Creams</h3></li>
      {% for ice in icelist %}
        <li>{{ ice.name }} : ${{ ice.price }}</li>
      {% endfor %}
    </ul>
<!-- Once we get to the bottom of the page, make a new div-->
  </div>
  <div style="width:25%;float:;">
    <h2>Someting Test</h2>      
  </div>
</body>
</html>

{% endblock %}

     
     
     
     
     