{% extends "webapp/yournestheader.html" %}

{% block content %}

<html lang="en">

<body class="schoolLinks">
  <h1>Links</h1>
  </br>
  <div>
    <h2>School Links:</h2>
    <ul class="list-unstyled">
      <li> <a href="http://www.nsbhs.nsw.edu.au">NSBHS Website</a> </li>
      <li> <a href="http://web1.northsydbo-h.schools.nsw.edu.au">Intranet</a> </li>
      <li> <a href="http://web3.northsydbo-h.schools.nsw.edu.au/classery/public/user/home">Classery</a> </li>
      <li> <a href="http://skedular.co/">Skedular</a> </li>
      <li> <a href="http://student.det.nsw.edu.au">Student Portal</a> </li>
      <li> <a href="http://nsbhshub.com">NSBHS Hub</a> </li>
    </ul>
  </div>
  <br>
  <div>
    <h2>External Links:
{% endblock %}
