{% extends "webapp/yournestheader.html" %}

{% block content %}

<html lang="en">

<body>
  <h1>Links</h1>
  </br>
  <h2>School Links:</h2>
  <ul class="schoolLinks">
    <li> <a href="http://www.nsbhs.nsw.edu.au">NSBHS Website</a> </li>
    <li> <a href="http://web1.northsydbo-h.schools.nsw.edu.au">Intranet</a> </li>
    <li> <a href="http://web3.northsydbo-h.schools.nsw.edu.au/classery/public/user/home">Classery</a> </li>
    <li> <a href="http://skedular.co/">Skedular</a> </li>
    <li> <a href="http://student.det.nsw.edu.au">Student Portal</a> </li>
  </ul>
{% endblock %}
