{% extends "webapp/yournestheader.html" %}

{% block content %}
 <html lang="en">
 <body>
   <div class="accountSettings">
     <h1 class="settingstitle">Account Settings</h1>

     <div class="prompt" >
       <form action="/changepw/" method="POST">{% csrf_token %}
         {% csrf_token %}
c
         <h2>Change your password:</h2>
         <h3>Current Password:</h3> <input class="form-control" type="password" name="oldpw">
         <h3>New Password:</h3> <input class="form-control" type="password" name="newpw">
         <h3>Confirm Password:</h3> <input class="form-control" type="password" name="confpw">
         <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary white" type="submit">Submit</button>
       </form>
     </div>
   </div>
     <br>
   <div class="prompt">
     <h2>Change your favourite order:</h2>
     <h3>Order:</h3> 
      <form action="/faveorder/" method="POST">{% csrf_token %}
      {% for order in orderlist %}
        <label class="ordertype mdl-radio mdl-js-radio mdl-js-ripple-effect" for="menutype-{{ order.name }}" />
          <input type="radio" class="mdl-radio__button" id="menutype-{{ order.name }}" name="faveorder" value="{{ order.name }}">
          <span class="mdl-radio__label">{{ order.name }}</span>
        </label> <br>
      {% endfor %}
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary white" type="submit">Submit</button>
     </form>
       
   </div>
   <br>
   <br>
   
</body>

{% endblock %}
