{% extends "webapp/yournestheader.html" %}

 {% block content %}
 <html lang="en">

 <body>
   <div class="accountSettings">
     <h1 class="settingstitle">Account Settings</h1>
     
     <div class="prompt" >
       <font color="#F00" style="font-weight:bold;">{{ content }}</font>
       <form action="/auth/" method="POST">
         {% csrf_token %}
         <h2>Change your password:</h2>
         <h3>Old Password:</h3> <input class="form-control" type="password" name="password">
         <h3>Password:</h3> <input class="form-control" type="password" name="password">
         <h3>Confirm Password:</h3> <input class="form-control" type="password" name="password">
       </form>
     </div>
   </div>
     <br>
   <div class="prompt">
     <h2>Change your favourite order:</h2>
     <h3>Order:</h3> 
       <form action="/faveorder/" method="post">
       <!--<input class="form-control" type="order" name="order" placeholder="Menu...">-->
         {% for order in orderlist %}
           <label class="ordertype mdl-radio mdl-js-radio mdl-js-ripple-effect" for="menutype-u" />
           <input type="radio" class="mdl-radio__button" id="menutype-u" name="faveorder" value='{{ order.name }}'>
           <span class="mdl-radio__label">{{ order.name }}</span>
           </label> <br>
         {% endfor %}
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary white" type="submit">Submit</button>
       </form>
      </div>
       <br>
       <br>
     </div> 
   </form>
 </div>
</body>





 {% endblock %}
