<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your Nest | Falcon's Nest</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/project/yournest.css' %}">
    <link rel="shortcut icon" href="{% static 'webapp/img/favicon.ico' %}">
    <script type="text/javascript" src="{% static 'webapp/js/jquery-3.0.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/project/headerjs.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<body>
    <ul class="header">
        <li class="titlename">Falcon's Nest</li>
    </ul>
    <h3>You are unauthorised to view this page. <a href="/">Login instead?</a></h3>
    </form>
    </div>
    </div>
</body>
</head>
</html>
