<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Import zero-transformicon build bundle -->
  <link rel="import" href="https://cdn.rawgit.com/zerodevx/zero-transformicon/v0.1.0/build/zero-transformicon.build.html">


    <title>Your Nest | Falcon's Nest</title>
    {% load staticfiles %}
    <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.teal-blue.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/project/yournest.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/project/custom.css' %}">
    <link rel="shortcut icon" href="{% static 'webapp/img/favicon.ico' %}">
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{% static 'webapp/js/project/menusearch.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/js/project/webcomponents-lite.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/static/webapp/js/project/pageloader.js"></script>
    <script type="text/javascript" src="{% static '/webapp/jquery-touchswipe/jquery.touchSwipe.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


<style>
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4f4f4f;
    overflow-x: hidden;
    transition: 0.5s;
    overflow: hidden;
  }

  .sidenav a {
    padding: 10px 10px 10px 18px;
    text-decoration: none;
    font-size: 25px;
    color: #bfbfbf;
    display: block;
    transition: 0.3s
  }

  .sidenav a:hover, .offcanvas a:focus{
    color: #049372;
    background-color: #dddddd;
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 25px;
    margin-bottom: 25px;
  }

  #main, .content{
    transition: margin-left .5s;
  }

  @media screen and (max-height: 530px) {
    .sidenav {padding-top: 0px;}
    .sidenav a {font-size: 18px;}
  }
  
  .swipearea {
    width: 5%;
    height: 100%;
    text-align: left;
    left: 0;  
  }
  
</style>

<div id="mySidenav" class="sidenav">
  <a href="/yournest" style="padding:0px;vertical-align:middle;"><img src="/static/webapp/img/logo.png" alt="logo" style="width: 250px; height: 250px; margin-left: auto; margin-right: auto;"></a>
  <a href="/yournest"><i class="material-icons">input</i>   Ordering</a>
  <a href="/menu"><i class="material-icons">local_dining</i>   Menu </a>
  <a href="/settings"><i class="material-icons">settings</i>   Account Settings</a>
  <a href="/links"><i class="material-icons">link</i>   School Links</a>
  <a href="/about"><i class="material-icons">help_outline</i>   About</a>
  <a href="/logout"><i class="material-icons">subdirectory_arrow_left</i>Logout</a>
</div>

<div id="main">
  <ul class="header">  
    <li class="trans"><zero-transformicon icon="menu-arrowleft" color="white" onclick="decision()" style="float:left;">
      <button class="tcon tcon-menu--arrow tcon-menu--arrowleft style-scope zero-transformicon" aria-label="toggle menu">
      <span aria-hidden="true" class="tcon-menu__lines style-scope zero-transformicon"></span>
      <span class="tcon-visuallyhidden style-scope zero-transformicon">toggle menu</span>
      </button></zero-transformicon></li>
      <a href="/yournest"><li class="titlename">Falcon's Nest</li></a>
      <li id="qckorder"><div class="rightheader"><button id="headerbtn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">Quick Order</button></div></li>
      <a href="/settings"><div class="rightheader"><li class="headername">Logged in as {{ full_name }}</li></div></a>
  </ul>
  <div class="swipe-area"></div>
</div>



<script>

  x = 0;

  function openNav() {
    if (($(window).width() <= 880 && $(window).width() >= 650) || ($(window).width() <= 450)) {	
  	  $(".rightheader").css("display", "none");
  	}
    $("#mySidenav").css("width", "250px");
    $("#main").css("margin-left", "250px");
    $(".content").css("margin-left", "250px");
  }

  function closeNav() {
    $(".rightheader").css("display", "block");
    $("#mySidenav").css("width", "0");
    $("#main").css("margin-left", "0");
    $(".content").css("margin-left", "0");
  }

  function decision() {
    x += 1;
    if (x == 1) {
      openNav();
    } else {
      closeNav();
      x -= 2;
    }
  }

</script>

{% block content %}
{% endblock %}
      
</head>
<body>
<div class="se-pre-con"></div>


<!--
<!-- Always shows a header, even in smaller screens. 
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header main">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -
      <zero-transformicon icon="menu-arrowleft" color="white" onclick="decision()" style="float:left;">
      <button class="tcon tcon-menu--arrow tcon-menu--arrowleft style-scope zero-transformicon" aria-label="toggle menu">
      <span aria-hidden="true" class="tcon-menu__lines style-scope zero-transformicon"></span>
      <span class="tcon-visuallyhidden style-scope zero-transformicon">toggle menu</span>
      </button></zero-transformicon>
      <span class="mdl-layout-title">Falcon's Nest</span>
      <!-- Add spacer, to align navigation to the right --
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. --
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Quick Order</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">
      
    </div>
  </main>
</div>
-->
