{% extends "webapp/yournestheader.html" %}

{% block content %}


{% load staticfiles %}
<div class="content">
  <div id="quickorder">
    <h2>Quick Order</h2>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary white">Order Here</button>
  </div>
  <div style="container-fluid">
    <div id="row menuorder">
      <div id="searchorder" style="padding-left: 15%; padding-right: 15%;">
        <h2>Search Order</h2>
        <button id="orderval" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary white" name="orderval" 
        value="order1"  data-toggle="collapse" data-target="#menusearch" 
        data-toggle="collapse" data-target="#menusearch">Order Here</button>
        <div id="menusearch" class="collapse">
          <input id="menuinput" placeholder="Search the menu..." onkeyup="findItem()" value=""></input>
        </div>
        <form id="dropdownmenu" action="/order/" method="POST">
          
        </form>
      </div>
    </div>
  </div>

  <div style="padding-left: 15%; padding-right: 15%;">  
    <h3> Proof of concept! </h3>
    
    {% for order in menulist %}
        <h4>{{ order.name }} : ${{ order.price }}     Current Orders: {{ order.value }}</h4>
        <form action="/order/" method="POST">{% csrf_token %}
          <input class="form-control" type="order" name="orderamount" placeholder="Amount...">
          <input type = "hidden" name = "ordernow" value = "{{ order.name }}" />
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary white" style="float:right;margin-top:0px" type="submit" > Order {{ order.name }} </button>
        </form>
        <br>
    {% endfor %}
  </div>
</div>
  {% include 'webapp/orderscript.html' %}

</body>
</html>


{% endblock %}

